<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ATStechBD Business Solution</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Hello and Welcome !</h1>
                <h2>Congrats ! you found us ! ;)</h2>
            </hgroup>
            <p>
               We help your business to maximize throughput !
            </p>
           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Our Services:</h3>
        <ol class="round">
            <li class="one">
                <h5>Accounting Solution</h5>
               
            </li>

            <li class="two">
                <h5>HRM Solution</h5>
            </li>
            <li class="three">
                <h5>Inventory Management Solution</h5>
               
            </li>
        </ol>
        <h3>Contact Us:</h3>
        <ol>
            <li>
                atstechbd@gmail.com
            </li>
            <li>
                atstechbd@yahoo.com
            </li>

        </ol>
    </section>

</div>
